/* fonty */
@font-face {
    font-family: Roboto;
    -fx-font-weight: regular;
    src: url("../../fonty/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    -fx-font-weight: medium;
    src: url("../../fonty/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto;
    -fx-font-weight: bold;
    src: url("../../fonty/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../../fonty/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}

.dialog {
    /*-fx-effect: dropshadow(three-pass-box, derive(black, -20%), 10, 0, 4, 4);*/
    -fx-background-insets: 6;
    -fx-background-color: #ffffff;
}

.nadpis-titulek {
    -fx-background-insets: 6;
    -fx-background-color: #EBEFF3;
    -fx-height: 72px;
}

.nadpis-text {
    -fx-font-family: Roboto;
    -fx-font-size: 24pt;
    -fx-text-fill: #3D4D65;
}

.text-zpravy {
    -fx-font-family: Roboto;
    -fx-font-size: 18pt;
    -fx-font-color: #4d4d4d;
}

/*******************************************************************************
 *                                                                             *
 * ProgressIndicator - výchozí styl Caspian (až na barvu)                      *
 *                                                                             *
 ******************************************************************************/

.progress-indicator {
    -fx-progress-color: #0081D5;
    -fx-indeterminate-segment-count: 8px;
    -fx-spin-enabled: true;
}

.progress-indicator > .determinate-indicator > .indicator {
    -fx-background-color:
        -fx-box-border,
        -fx-outer-border,
        -fx-inner-border,
        -fx-body-color;
    -fx-background-insets: 1 0 -1 0, 0, 1, 2;
    -fx-padding: 1px;
}

.progress-indicator > .determinate-indicator > .progress {
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-accent,38%), derive(-fx-accent,-60%)),
        linear-gradient(to bottom, derive(-fx-accent,20%), -fx-accent);
    -fx-background-insets: 0, 1;
    -fx-padding: 0.25em; /* 3px */
}

/* TODO: scaling the shape seems to make it disappear */
.progress-indicator > .determinate-indicator > .tick {
    -fx-background-color: -fx-mark-color, white;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.416667em; /* 5 */
    -fx-shape: "M 0,5 L 2.5,5 L 3.7,7.5 L 7.5,0 L 10,0 L 5,10 L 2.5,10 Z";
    -fx-scale-shape: false;
}

.progress-indicator:indeterminate > .spinner {
    -fx-padding: 0.833333em; /* 10 */
}

.progress-indicator > .percentage {
    -fx-font-size: 0.916667em; /* 11pt - 1 less than the default font */
    -fx-fill: -fx-text-background-color;
}

.progress-indicator:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.progress-indicator:indeterminate .segment {
    -fx-background-color: -fx-accent;
}
.progress-indicator:indeterminate .segment0 {
    -fx-shape:"M18.191,4.264l-2.457,1.721l0,0C16.559,7.161,17,8.564,17,10h3C20,7.948,19.369,5.946,18.191,4.264z";
}
.progress-indicator:indeterminate .segment1 {
    -fx-shape:"M11.736,0.152l-0.521,2.955l0,0c1.416,0.249,2.719,0.928,3.734,1.943l2.122-2.121C15.62,1.478,13.758,0.508,11.736,0.152z";
}
.progress-indicator:indeterminate .segment2 {
    -fx-shape:"M10,0C7.947,0,5.945,0.631,4.264,1.809l1.72,2.457l0,0C7.162,3.442,8.563,3,10,3V0z";
}
.progress-indicator:indeterminate .segment3 {
    -fx-shape:"M2.929,2.929C1.478,4.38,0.508,6.242,0.152,8.264l2.955,0.521l0,0C3.356,7.369,4.035,6.066,5.05,5.05l0,0L2.929,2.929z";
}
.progress-indicator:indeterminate .segment4 {
    -fx-shape:"M0,10c0,2.052,0.631,4.055,1.809,5.735l2.458-1.721C3.442,12.838,3,11.437,3,10H0z";
}
.progress-indicator:indeterminate .segment5 {
    -fx-shape:"M8.785,16.894c-1.416-0.25-2.719-0.929-3.735-1.944l0,0l-2.122,2.122c1.451,1.45,3.313,2.42,5.335,2.776L8.785,16.894z";
}
.progress-indicator:indeterminate .segment6 {
    -fx-shape:"M14.016,15.734C12.838,16.558,11.437,17,10,17v3c2.053,0,4.055-0.632,5.736-1.809L14.016,15.734z";
}
.progress-indicator:indeterminate .segment7 {
    -fx-shape:"M16.894,11.215c-0.249,1.415-0.929,2.719-1.944,3.734l2.122,2.122c1.45-1.451,2.421-3.314,2.776-5.335L16.894,11.215z";
}
